[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "parmsurvfit"]
	path = parmsurvfit
	url = https://github.com/apjacobson/parmsurvfit
